<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <form action="/doInsert" method="post">
        Name <input type="text" name="txtName" id="">
        <label for="" style="color:rgb(255, 0, 0);">{{model.nameError}}</label>
        <br>
        MSP <input type="text" name="txtMSP" id="">
        <label for="" style="color:rgb(255, 0, 0);">{{model.mspError}}</label>
        <br>
        <br>
        SL <input type="text" name="txtSL">
        <br>
        Gia <input type="text" name="txtGia">
        <input type="submit" value="Insert">
    </form>
</body>
</html>